#global-layout {
  .global-layout {
    &__sider {
      
    }
    &-background {
      background-color: white;
    }
    &-logo {
      text-align: center;
      overflow: hidden;
      img {
        height: 50px;
      }
    }
    &-background {
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
      }
      .trigger:hover {
        background-color: lightgrey;
      }
    }
  }
}