#global-layout {
  .global-layout {
    &__sider {
      min-height: 100vh;
    }
    &-background {
      background-color: white;
    }
    &-logo {
      text-align: center;
      overflow: hidden;
      img {
        height: 50px;
      }
    }
    &__header {
      padding: 0;
      display: flex;
      justify-content: space-between;
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          background-color: lightgrey;
        }
      }
      .header--right {
        margin-right: 24px;
      }
    }
    &__content {
      margin: 24px 16px;
      // padding: 24px;
      min-height: 280px;
      // background-color: grey;
    }
    &__footer {
      text-align: center;
      height: 6vh;
    }
  }
}
